@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --white-color: #fff;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

header {
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--green);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}
/* Avatar */
.navbar-user {
  position: relative;
}
.navbar-user-img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.navbar-user-name {
  padding-left: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.navbar-user-img,
.navbar-user-name {
  cursor: pointer;
  user-select: none;
}

@keyframes notifyGrow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.navbar-user-menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: var(--white-color);
  list-style: none;
  z-index: 1;
  padding-left: 0;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 2px;
  width: 200px;
  cursor: pointer;
  user-select: none;
  animation: notifyGrow 0.2s ease-in;
}
.navbar-user-menu li:hover {
  background-color: var(--green);
  color: var(--white-color);
}
.navbar-user-menu li:hover a {
  color: var(--white-color);
}
.navbar-user-menu li i {
  margin-right: 10px;
}
.navbar-user-menu li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
}
/* Phần nhô tam giác của navbar mà do background màu trắng nên không thấy. Muốn thấy thì phải đổi màu header lại */
/* .navbar-user-menu::before {
  content: "";
  top: -22px;
  right: 40%;
  position: absolute;
  border-width: 12px 16px;
  border-style: solid;
  cursor: pointer;
  border-color: transparent transparent var(--white-color) transparent;
} */
/* NavBarAccount */
.navbar-account {
  display: flex;
  align-items: center;
}
.navbar-account .navbar-account-user {
  font-size: 30px;
  padding-right: 8px;
}
.navbar-account-io {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
.navbar-account-io p {
  margin-bottom: 0;
}
.navbar-account-nick i {
  position: relative;
  top: -3px;
  padding-left: 4px;
}
