/* .heading_shipping{
    font-size:16px;
} */

.heading_shipping *{
    display: inline-block;
    font-size: larger;
}

.heading_shipping img{
    margin-left: 0.5em;
}

.title_shiping{
    font-size: medium;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
   
    left: 0;
    background-image: url(https://images.all-free-download.com/images/graphiclarge/shipper_job_background_navigation_elements_smartphone_man_sketch_6846912.jpg);
    /* background-color: #242f3f; */
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;                       /******** <- Remove this line *********/
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }